parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    tmpDir: tmp
    paths:
      - include
      - wwwroot
    excludePaths:
      analyse:
        - include/vendor
    parallel:
        jobSize: 50
        maximumNumberOfProcesses: 4
        minimumNumberOfJobsPerProcess: 5
